.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title,
  .value {
    font-size: 20px;
    color: #fff;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
