/.idea
[Bb]in
[Oo]bj
/Backend/MyApp.AuthService/tempkey.jwk
/Backend/MyApp.AuthService/keys
nginx/ssl/
/Backend/MyApp.MonitoringService/SourceMaps/**
!/Backend/MyApp.MonitoringService/SourceMaps/
!/Backend/MyApp.MonitoringService/SourceMaps/README.md
/Backend/artifacts
/Backend/MyApp.MonitoringService/artifacts
/Backend/.idea
/Backend/.env
/node_modules
**/firebase-credentials.json