@use "src/styles/variables" as *;

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--container-bg);
  font-size: 20px;
  padding: 0 20px;
  color: $primary;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
  cursor: pointer;
  user-select: none;
}

.logout {
  background-color: #ff003e !important;
  color: #fff !important;
  opacity: 0.6;
  box-shadow: none !important;
}

.themeSwitch {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 30px;
  }

  margin-right: 20px;
}

.rightWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
