// Typography

@mixin h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
}

@mixin h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0;
}

@mixin h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

@mixin h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@mixin h5 {
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@mixin p1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

@mixin p1sb {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

@mixin p2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

@mixin container {
  padding: 18px;
  background-color: #66646b;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
}

@mixin inner-container {
  padding: 18px;
  background-color: #66646b;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
}

@mixin button {
  padding: 18px;
  background-color: #66646b;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
}
