@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.captionTooltipTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.caption {
  @include p2;
  //color: $grey-400;
}

.tooltipWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.tooltipText {
  font-family: $font-family;
  font-style: normal;
  @include p1;
  color: #fff;
}

.tooltipHotkey {
  font-family: $font-family;
  font-style: normal;
  @include p1;
  //color: $grey-300;
}
