@use "src/styles/variables" as *;
@use "src/styles/mixins" as *;

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 25%;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: #2d4547;
    background-image: url("/src/assets/images/login-background-image.png");
    background-size: cover;
    z-index: -1;
  }
}

.header {
  @include page-container;
  font-size: 28px;
  color: $primary;
  padding: 0;
  width: 336px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 336px;
  height: 218px;
  @include page-container;
}

html[class="light"] {
  .wrapper::after {
    background-color: #fff;
    background-image: url("/src/assets/images/background-image.png");
    opacity: 0.2;
  }
}

.loginButton {
  width: 336px;
}
