@use "src/styles/variables" as *;
@use "src/styles/mixins" as *;

.container {
  @include inner-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cd4868;

  .rightWrapper,
  .leftWrapper {
    display: flex;
    gap: 10px;
    font-size: 20px;
  }

  .leftWrapper {
    font-size: 28px;
    //cursor: pointer;
  }

  &.closed {
    opacity: 0.6;
  }
}

.redButton {
  color: #fff !important;
  background-color: #ff003e !important;
}

.balance {
  font-size: 24px;
  font-weight: 500;
  translate: 0 3px;
}
