.wrapper {
  display: flex;
  width: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("/src/assets/images/background-image.png");
  background-repeat: repeat;
  background-color: #2d4547;
  background-size: contain;
}
