@use "src/styles/variables" as *;
@use "src/styles/base" as *;
@use "src/styles/mixins" as *;

.invisibleSpan {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  @include p1sb;
  width: auto !important;
}

.inputContainer {
  position: relative;
  display: flex;
  width: 100%;
  //background-color: #000;

  &:hover :global(.arrowAdornmentIcon) {
    opacity: 1 !important;
  }
}

.input {
  @extend .base-input;

  flex-grow: 1;
  min-width: 0;
  outline: none;
  box-sizing: content-box;
}

.passwordEye {
  margin-right: -4px;
  width: 24px;
  margin-top: 6px;

  path {
    fill: $primary;
  }
}

.postfix {
  font-family: $font-family;
  font-style: normal;
  @include p1sb;
  align-content: center;

  color: #00b3a5;
  white-space: nowrap;
  cursor: pointer;
}

.non-form-input {
  height: $normal-input-height;

  &[disabled] {
    pointer-events: none;
  }
}
